﻿@using ReportViewerForMvc;

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <br>
    <form method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" />
        <label for="firstName">Middle Name</label>
        <input type="text" id="midName" name="midName" />
        <label for="firstName">Last Name</label>
        <input type="text" id="lastName" name="lastName" />
        <input type="submit" value="search" />
    </form>
    <hr />

    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
</div>
